body{

}
form{
    max-width: 600px;
    margin: auto;
}
.link{
    text-decoration: none;
    color:black;
    margin-left: 20px;
    margin-right: 10px;
}
table{
  max-width:1150px;
    position: relative;

    left: 200px;

}
